{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Self Introduce</title>
        <link rel="stylesheet", href="{% static 'css/intro.css' %}">
    </head>
    <body>
        <div class="wrapper">
            <h1>자기 소개</h1>
            <div class="intro">
                <p>이름: {{ info.name }}</p>            
                <p>나이: {{ info.age }}</p>
                <p>MBTI: {{ info.mbti|upper }}</p>            
                <p>키: {{ info.height }}</p>
                <p>취미: 
                    {% for hobby in info.hobby %}
                        <li>{{ hobby }}</li>
                    {% endfor %}
                </p>            
                <p>기술 스택: 
                    {% for stack in info.stack %}
                        <li>{{ stack }}</li>
                    {% endfor %}
                </p>
                <p>자기소개: 
                    <div class="description">
                        <pre>{{ info.description }}</pre>
                    </div>
                </p>            
            </div>
        </div>
    </body>
</html>